.container {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  padding-top: 5%;
  padding-bottom: 10px;
}

input::placeholder {
  text-align: center;
}


option::value {
  text-align: center;
}

.label-default {
  background-color: gainsboro;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.radio {
  display: none;
}

button {
  padding-top: 5%;
  padding-bottom: 5%;
}
.margin__needed{
  margin-top: 10%;
  margin-bottom: 10%;
}
.question__group{
  margin: 5% 10%;
  height: 10%;
  width: 100%;
  display: table-cell;
}
//.Row
//{
//  display: table;
//  width: 100%; /*Optional*/
//  table-layout: fixed; /*Optional*/
//  border-spacing: 10px; /*Optional*/
//}
